/*-------------- about -----------------*/
.about{
	margin-bottom: 63px;
	
	&__text{
		@include font(normal, normal, 17px, 24px, $color-text);
		text-align: center;
		max-width: 500px;
		margin: 0 auto 44px;
	}
}

@media (max-width: 767px) {
	.about{
		margin-bottom: 50px;
		
		h2,
		.h2{
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
		}

		&__text{
			font-size: 15px;
			line-height: 17px;
			max-width: 340px;
			margin-bottom: 46px;
		}
	}
}