/*-------------- Footer -----------------*/
.footer{
	width: 744px;
	max-width: 650px;
	margin: 0 auto;
	@include font(normal, normal, 13px, 18px, rgba(0,0,0,0.5));
	text-align: center;
	padding: 30px 0;
}

@media (max-width: 767px) {
	.footer{
		width: 100%;
		max-width: 100%;
		padding: 15px 0;
	}
}