/*-------------- Header -----------------*/
.header{
	padding: 34px 70px 34px 53px;
}

.header-logos{
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__beeline img{
		width: 128px;
	}

	&__sumsung img{
		width: 210px;
	}
}

@media (max-width: 767px) {
	.header{
		padding: 21px 28px;
	}

	.header-logos{
		&__beeline img{
			width: 80px;
		}

		&__sumsung img{
			width: 130px;
		}
	}
}