<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Sumsung Forward</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section class="about">
					<h1>Samsung Forward</h1>

					<h2>Чтобы пользоваться, не&nbsp;обязательно покупать</h2>

					<div class="about__text">Samsung Forward – программа от Samsung, с которой у вас всегда будет топовый смартфон за небольшую ежемесячную плату.</div>

					<div class="product-slider js-product-slider">
						<div class="product-slider__item">
							<div class="product-slider__img"><img src="img/phone1.png" alt=""></div>

							<div class="product-slider__info">
								<div class="product-slider__name">Galaxy Note10</div>

								<div class="product-slider__text">+ подарок Galaxy Watch Active</div>

								<div class="product-slider__price">4690р./мес.</div>
							</div>

							<a href="#" class="btn">Заказать</a>
						</div>

						<div class="product-slider__item">
							<div class="product-slider__img"><img src="img/phone2.png" alt=""></div>

							<div class="product-slider__info">
								<div class="product-slider__name">Galaxy Note10+</div>

								<div class="product-slider__text">+ подарок Galaxy Watch Active</div>

								<div class="product-slider__price">5490р./мес.</div>
							</div>
							
							<a href="#" class="btn">Заказать</a>
						</div>

						<div class="product-slider__item">
							<div class="product-slider__img"><img src="img/phone3.png" alt=""></div>

							<div class="product-slider__info">
								<div class="product-slider__name">Galaxy S10+</div>

								<div class="product-slider__price">5490р./мес.</div>
							</div>
							
							<a href="#" class="btn">Заказать</a>
						</div>

						<div class="product-slider__item">
							<div class="product-slider__img"><img src="img/phone3.png" alt=""></div>

							<div class="product-slider__info">
								<div class="product-slider__name">Galaxy S10+</div>

								<div class="product-slider__price">5490р./мес.</div>
							</div>
							
							<a href="#" class="btn">Заказать</a>
						</div>

						<div class="product-slider__item">
							<div class="product-slider__img"><img src="img/phone2.png" alt=""></div>

							<div class="product-slider__info">
								<div class="product-slider__name">Galaxy Note10+</div>

								<div class="product-slider__text">+ подарок Galaxy Watch Active</div>

								<div class="product-slider__price">5490р./мес.</div>
							</div>
							
							<a href="#" class="btn">Заказать</a>
						</div>
					</div>
				</section>

				<section class="steps">
					<h2>Как оформить смартфон по&nbsp;программе Samsung Forward:</h2>

					<div class="steps__list">
						<div class="steps__item">
							<div class="steps__icon"><img src="img/ic-choose.png" alt=""></div>

							<div class="steps__name">Выберите</div>

							<div class="steps__text">смартфон в&nbsp;Интернет-магазине Билайн</div>
						</div>

						<div class="steps__item">
							<div class="steps__icon"><img src="img/ic-cart.png" alt=""></div>

							<div class="steps__name">Укажите</div>
							
							<div class="steps__text">«Оформить Договор Samsung Forward» в&nbsp;корзине</div>
						</div>

						<div class="steps__item">
							<div class="steps__icon"><img src="img/ic-checkmark.png" alt=""></div>

							<div class="steps__name">Подтвердите</div>
							
							<div class="steps__text">Договор и с номером заказа обратитесь в салон Билайн. <span class="steps__label">Не забудьте с собой</span></div>
						</div>

						<div class="steps__item">
							<div class="steps__icon"><img src="img/ic-box.png" alt=""></div>

							<div class="steps__name">Заберите</div>
							
							<div class="steps__text">Получите новый смартфон и раз в год меняйте его на новую модель.</div>
						</div>
					</div>
				</section>

				<section class="video">
					<iframe src="https://www.youtube.com/embed/TJAu4ODUjtE" class="video-frame" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</section>

				<section class="steps">
					<h2>Что в ней еще хорошо:</h2>

					<div class="steps__list">
						<div class="steps__item">
							<div class="steps__icon steps__icon--small"><img src="img/ic-percent.png" alt=""></div>

							<div class="steps__name">Без переплат</div>

							<div class="steps__text">Никаких процентов, «зашитых» или скрытых платежей.</div>
						</div>

						<div class="steps__item">
							<div class="steps__icon steps__icon--small"><img src="img/ic-smart-care.png" alt=""></div>

							<div class="steps__name">Под защитой Samsung</div>
							
							<div class="steps__text">Бесплатная замена разбитого экрана или задней панели раз в год.</div>
						</div>

						<div class="steps__item">
							<div class="steps__icon steps__icon--small"><img src="img/ic-bag.png" alt=""></div>

							<div class="steps__name">Выкуп</div>
							
							<div class="steps__text">Понравился смартфон – выкупите его в любой момент после 6 платежа.</div>
						</div>

						<div class="steps__item">
							<div class="steps__icon steps__icon--small"><img src="img/ic-cursor.png" alt=""></div>

							<div class="steps__name">Оплата</div>
							
							<div class="steps__text">Легко и удобно в ЛК или приложении.</div>
						</div>
					</div>
				</section>

				<section class="compare">
					<div class="compare__info">
						<div class="compare__head">Почему Samsung Forward выгоднее рассрочки?</div>

						<div class="compare__text">В выплаты по программе Samsung Forward не включена «остаточная стоимость» смартфона, которая может достигать 30-40% ценника. Именно её вы не будете платить, если будете меняете смартфон каждый год.</div>
					</div>

					<div class="compare-params">
						<div class="compare-params__head">
							<div class="compare-params__title"><b>Forward</b> <span style="font-size: 15px;">или</span> Рассрочка</div>

							<div class="compare-params__subtitle">На примере Samsung Galaxy Note10</div>
						</div>

						<div class="compare-params__content">
							<div class="compare-params__row">
								<div class="compare-params__name">Процент</div>
								<div class="compare-params__val">0</div>
								<div class="compare-params__val">0</div>
							</div>

							<div class="compare-params__row">
								<div class="compare-params__name">Ежемесячный платеж</div>
								<div class="compare-params__val compare-params__val--grey">4690 &#8381;/мес.</div>
								<div class="compare-params__val">6415 &#8381;/мес.</div>
							</div>

							<div class="compare-params__row">
								<div class="compare-params__name">Итого к оплате</div>
								<div class="compare-params__val">56 280 &#8381;</div>
								<div class="compare-params__val">76 990 &#8381;</div>
							</div>

							<div class="compare-params__row">
								<div class="compare-params__name">Samsung Smart Care+</div>
								<div class="compare-params__val"><img src="img/ic-check.png" alt=""></div>
								<div class="compare-params__val"><img src="img/ic-cross.png" alt=""></div>
							</div>

							<div class="compare-params__row">
								<div class="compare-params__name">Обмен на новую модель</div>
									<div class="compare-params__val"><img src="img/ic-check.png" alt=""></div>
								<div class="compare-params__val"><img src="img/ic-cross.png" alt=""></div>
							</div>
						</div>
					</div>
				</section>

				<section class="info-block">
					<h2>А что если?..</h2>

					<div class="info-block__list">
						<div class="info-block__item">
							<div class="info-block__head">Разбить экран</div>

							<div class="info-block__text">– Раз в год вы можете бесплатно заменить экран или заднюю панель по программе Smart Care+.</div>
						</div>

						<div class="info-block__item">
							<div class="info-block__head">Появятся царапины, сколы, потертости</div>

							<div class="info-block__text">– Обмен возможен, если смартфон «как новенький». Если есть видимые дефекты, придется заплатить комиссию.</div>
						</div>
					</div>
				</section>

				<section class="info-block">
					<h2>Если захотите выйти из программы досрочно:</h2>

					<div class="info-block__list">
						<div class="info-block__item">
							<div class="info-block__head">Можно выкупить смартфон</div>

							<div class="info-block__text">В любой момент внести все платежи по договору без комиссий и уйти с любимым смартфоном.</div>
						</div>

						<div class="info-block__item">
							<div class="info-block__head">Можно вернуть и забыть о платежах</div>

							<div class="info-block__text">Например, после 6-го платежа — за 3 900 или 4 900 ₽ (в зависимости от модели), если смартфон в состоянии «как новый». После 12-го платежа – без комиссии.</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
